@tailwind base;
@tailwind components;
@tailwind utilities;
* {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: subpixel-antialiased;
}
article {
	transition: all 0.2s ease-in-out;
	@apply flex flex-col items-start gap-8 p-8 lg:gap-10 lg:py-16;
}
article * {
	@apply ml-4;
}
article:hover {
	transform: scale(1.05);
}

h1 {
	@apply font-cursive text-4xl text-white uppercase lg:text-5xl;
}
p {
	@apply text-transparent_white text-sm lg:text-base lg:w-3/5;
}
button {
	transition: all 0.1s ease-in-out;
	@apply bg-light_gray py-3 px-6 rounded-full lg:mt-12;
}
button:hover {
	@apply bg-transparent text-white border-2 border-white;
}
